.button {
    display: inline-block;
    margin: 0;
    border-radius: 0;
    border: 1px solid transparent;
    font-size: 20px;
    padding: 0 20px;
    outline: none;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
}

.button-desktop {
    display: none;
}

.button-mobile {
    padding: 16px 25px;
}

.button:hover {
    text-decoration: none;
}

.button:focus {
    outline: none;
}

.button-primary {
    color: #ffffff;
    background-color: #77c344;
    border-radius: 10px;
}

.button-primary:hover {
    color: green;
    background-color: #ffffff;
    border-color: green;
    border-radius: 4px;
}

.button-danger {
    color: #ffffff;
    background-color: red;
}

.button-danger:hover {
    color: red;
    background-color: #ffffff;
    border-color: red;
}

.button-large {
    padding: 22px 64px;
}

.button-medium {
    padding: 12px 24px;
}

.button-full {
    width: 100%;
}

@media (min-width: 800px) {
    .button-desktop {
        display: inline-block;
        margin-left: 35px;
    }
    .button-mobile {
        display: none;
    }
}