.card {
    ;
}

.card-title {
    font-weight: lighter;
    font-size: 20px;
}

.card-description {
    font-weight: 12px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-icon {
    margin-right: 20px;
    height: 45px;
}

.card-description {
    text-align: justify;
    font-size: 20px;
    margin-top: 0;
}

@media (min-width: 800px) {
    .card-description {
        margin-left: 10px;
        font-size: 14px;
        text-align: left;
        line-height: 21px;
    }
}