/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section-about {
    padding: 70px 0;
}

@media (min-width: 1200px) {
    .section-about {
        padding-top: 110px;
        margin-bottom: 43px;
    }
    .section-about .row-about {
        width: 42%;
    }
    .section-about .section-title {
        text-align: end;
    }
    .row-section-header {
        width: 61%;
        padding-bottom: 60px;
    }
    .about-wrapper {
        background-image: url(../../img/macbook-bg.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        margin-top:
    }
}