/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section-labels-content {
    display: none;
}

.section-labels {
    background-color: #f8f8f8;
}

.label-img {}

@media (min-width: 1200px) {
    .section-labels-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 1170px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 35px;
    }
}