/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section-why {
    background-color: #f1f1f2;
    background: #f1f1f2;
    padding-top: 70px;
    padding-bottom: 110px;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
}

.pagination-item {
    border-radius: 50%;
    padding: 5px 10px;
    color: #CBCDD0;
    font-size: 16px;
}

.pagination-item-is-active,
.pagination-item:hover {
    background-color: #64a4d7;
    border-color: #64a4d7;
    border-radius: 50%;
    color: white;
}

@media (min-width: 1200px) {
    .section-why {
        padding-top: 170px;
        background: url(../../img/Rectangle-51.jpg) right center no-repeat #f1f1f2;
    }
    .section-why-title {
        font-weight: lighter;
        font-weight: 100px;
        padding-bottom: 50px;
        letter-spacing: -2px;
    }
    .section-why-card-title {
        font-size: 28px;
    }
    .section-why-card-description {
        font-size: 16px;
        line-height: 32px;
        margin-left: 0;
        margin-top: 9px;
        margin-bottom: 30px;
    }
    .section-why-card-header {
        margin-top: 15px;
    }
    .section-why .row-section-header {
        padding-bottom: 40px;
    }
    .section-why .card-icon {
        margin-right: 35px;
    }
    .pagination {
        margin-left: 30px;
    }
}