.section-labels-content {
    display: none;
}

.section-labels {
    background-color: #f8f8f8;
}

.label-img {}

@media (min-width: 1200px) {
    .section-labels-content {
        display: flex;
        justify-content: space-between;
        width: 1170px;
        align-items: center;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 35px;
    }
}